.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 2xl;
}

.flip-card-back {
  transform: rotateY(180deg);
}


/* ---------------------------------------------------------------------------------------------------------------------- */








/* Responsive ---------------------------------------------------------------------------------------------------------------- */






/* Responsive Cards Starts ------------------------------------------------------------------------------------------------------------------ */


@media screen and (min-width: 1024px) and (max-width:1200px) {

  .card {
    height: 25rem;
    width: 20rem;
  }

  .card:hover {
    transform: scale(1.08);
  }

  .flip-card-event-heading {
    font-size: 2.3rem;
  }

  .flip-card-event-info {
    font-size: 1.2rem;
  }

  .event-wrapper {
    gap: 4rem;
  }

}



@media screen and (min-width: 800px) and (max-width:850px) {
  .event-wrapper {
    margin: 4rem 1.3rem;
    gap: 4rem;
  }

  .flip-card-event-info-container {
    gap: 3rem;
  }

  .card {
    height: 22rem;
    width: 17rem;
  }

  .card:hover {
    transform: scale(1.08);
  }

  .flip-card-event-heading {
    font-size: 2rem;
  }

  .flip-card-event-info {
    font-size: 1rem;
  }

  .flip-card-front {
    gap: 1rem;
  }

  .flip-card-back {
    gap: 1rem;
  }

  .flip-card-back p {
    font-size: 0.9rem;
  }

  .flip-card-p {
    font-size: 1rem;
  }

  .flip-card-h1 {
    font-size: 1.5rem;
  }

}





@media screen and (min-width: 600px) and (max-width:768px) {

  .event-wrapper {
    margin: 4rem 1.3rem;
    gap: 4rem;
  }

  .flip-card-event-info-container {
    gap: 3rem;
  }

  .card {
    height: 22rem;
    width: 17rem;
  }

  .card:hover {
    transform: scale(1.08);
  }

  .flip-card-event-heading {
    font-size: 1.8rem;
  }

  .flip-card-event-info {
    font-size: 0.9rem;
  }

  .flip-card-front {
    gap: 1rem;
  }

  .flip-card-back {
    gap: 1rem;
  }

  .flip-card-back p {
    font-size: 0.9rem;
  }

  .flip-card-p {
    font-size: 1rem;
  }

  .flip-card-h1 {
    font-size: 1.5rem;
  }

}




@media screen and (min-width: 320px) and (max-width: 480px) {

  .event-container {
    gap: 6rem;

  }

  #Events {
    gap: 9rem;
  }

  .card {
    height: 22rem;
    width: 18rem;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .event-wrapper {
    flex-direction: column;
    height: 43rem;
    margin: auto;
    gap: 2rem;
  }


  .flip-card-event-info-container {
    gap: 1rem;
    width: 15rem;
  }

  .flip-card-event-heading {
    font-size: 2rem;
    text-align: center;
  }

  .flip-card-event-info {
    font-size: 1rem;
    text-align: center;
  }

  .card {
    height: 20rem;
    width: 17rem;
  }

  .event-wrapper2 {
    flex-direction: column-reverse;
  }

  .flip-card-front {
    gap: 1rem;
  }

  .flip-card-back {
    gap: 1rem;
  }

  .flip-card-back p {
    font-size: 0.9rem;
  }



  .flip-card-p {
    font-size: 1rem;
  }

  .flip-card-h1 {
    font-size: 1.5rem;
  }
}


/* Responsive Cards Ends ------------------------------------------------------------------------------------------------------------------ */